{% extends 'base.html'%}


{% block content %}




<div class="container">
<div class="row">
<div class="col-lg-8">


<div class="row">
  <h4 class="d-flex justify-content-between align-items-center mb-3 mt-4">Research Articles</h4>

  {% for publish,manuscript in objects_list %}
  <div class="col-lg-6 col-md-6 mb-4">
  <div class="card h-100">
  <!--image -->
  <div class="card-body">
  <h6>{{manuscript.articletype}}</h6>
  <h6 class="card-title" style="color:darkkhaki; text-align: justify;">{{manuscript.title}}</h6>
  <p class="card-text" style="text-align: justify;">
  <span style="font-weight: 300;">{{manuscript.author}}</span> <br>
  <span style="color: lightsalmon;">{{manuscript.journal}}</span> {{publish.published_year}}, {{publish.published_volume}}({{publish.published_issue}}): {{publish.published_page_start}}-{{publish.published_page_end}}.<br>
  doi: <span style="color: lightsalmon;">10.3934/matersci.{{publish.rand}}</span> 
  </p>
  
  <div class="d-flex d-inline-block">
  <div class="col-sm-12">
  <a class="mr-4" style="text-decoration: none;" href="{% url 'article' publish.rand  %}"><i class="fas fa-file-pdf fa-lg" style="color:rgba(189, 63, 63, 0.849);"></i><span class="text-dark"> PDF</span></a> 
  <a class="mr-4" style="text-decoration: none;" href="{% url 'article' publish.rand  %}"><i class="fas fa-file-invoice fa-lg" style="color:darkkhaki;"> </i><span class="text-dark"> Abstrast</span></a> 
  <a href="{% url 'article' publish.rand  %}" style="text-decoration: none;"><i class="fas fa-file-alt fa-lg" style="color: lightsalmon;"></i><span class="text-dark"> Html</span></a> 
  
</div>
  </div>
  </div>
  </div>
  </div>
{% endfor %}


<!-- Pagination -->
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'all' %}?page={{page.previous_page_number}}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Previous</a>
      </li>
      {% endif %}
      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
      <li class="page-item  active">
        <span class="page-link">{{page.number}}<span class="sr-only">(current)</span></span> 
      </li>

      <!-- <li class="page-item">
        <span class="page-link">{{page.paginator.num_pages}}<span class="sr-only">(current)</span></span> 
      </li> -->
      {% if page.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'all' %}?page={{page.next_page_number}}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
      {% endif %}
    </ul>
    <!-- Showing {{ page.start_index }}-{{ page.end_index }} of {{ page.paginator.count }} -->
  </nav>



<!-- from where i put the other article types -->


  <!-- <h4 class="d-flex justify-content-between align-items-center mb-3 mt-4">Latest Article</h4>
  <div class="col-lg-6 col-md-6 mb-4">
  <div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
  <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
  <a href="#!">
  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
  </a>
  </div>
  <div class="card-body">
  <h6 class="card-title" style="color:darkkhaki; text-align: justify;">PPGIS applied to environmental communication and hazards for a community-based approach: a dualism in the Southern Italy "calanchi" landscape</h6>
  <p class="card-text" style="text-align: justify;">
  <span style="font-weight: 300;">Prof. Adnre Aligino</span> <br>
  <span style="color: lightsalmon;">AIMS Materials Science</span> 2021, 8(5): 685-697.<br>
  doi: <span style="color: lightsalmon;">10.3934/matersci.2021041</span> 
  </p>
  
  <div class="d-flex d-inline-block">
  <div class="col-sm-12">
  <a class="mr-4" style="text-decoration: none;" href=""><i class="fas fa-file-pdf fa-lg" style="color:rgba(189, 63, 63, 0.849);"></i><span class="text-dark"> PDF</span></a> 
  <a class="mr-4" style="text-decoration: none;" href=""><i class="fas fa-file-invoice fa-lg" style="color:darkkhaki;"> </i><span class="text-dark"> Abstrast</span></a> 
  <a href="" style="text-decoration: none;"><i class="fas fa-file-alt fa-lg" style="color: lightsalmon;"></i><span class="text-dark"> Html</span></a> 
  </div>
  </div>
  </div>
  </div>
  </div>

  
  <div class="col-lg-6 col-md-6 mb-4">
    <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
    <a href="#!">
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
    </div>
    <div class="card-body">
    <h6 class="card-title" style="color:darkkhaki; text-align: justify;">PPGIS applied to environmental communication and hazards for a community-based approach: a dualism in the Southern Italy "calanchi" landscape</h6>
    <p class="card-text" style="text-align: justify;">
    <span style="font-weight: 300;">Prof. Adnre Aligino</span> <br>
    <span style="color: lightsalmon;">AIMS Materials Science</span> 2021, 8(5): 685-697.<br>
    doi: <span style="color: lightsalmon;">10.3934/matersci.2021041</span> 
    </p>
    
    <div class="d-flex d-inline-block">
    <div class="col-sm-12">
    <a class="mr-4" style="text-decoration: none;" href=""><i class="fas fa-file-pdf fa-lg" style="color:rgba(189, 63, 63, 0.849);"></i><span class="text-dark"> PDF</span></a> 
    <a class="mr-4" style="text-decoration: none;" href=""><i class="fas fa-file-invoice fa-lg" style="color:darkkhaki;"> </i><span class="text-dark"> Abstrast</span></a> 
    <a href="" style="text-decoration: none;"><i class="fas fa-file-alt fa-lg" style="color: lightsalmon;"></i><span class="text-dark"> Html</span></a> 
    </div>
    </div>
    </div>
    </div>
    </div> -->
    <!--end of  from where i put the other article types -->
  
  </div>
  </div> <!--  col lg 8 -->






  





  





  
<div class="col-lg-4">


   <!-- sidebar Heading -->
   <h4 class="d-flex justify-content-between align-items-center mb-3 mt-4">
    <span class="text-muted">Journals</span>
    <span class="badge badge-secondary badge-pill">{{journal_count}}</span>
    </h4>
    
    <!-- sidebar -->

    <ul class="list-group mb-3 z-depth-1 border">
    {% for journal in journals %}
    <a href="{% url 'journal' journal.id %}">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
    <h6 class="my-0">{{journal.title}}</h6>
    <!-- <small class="text-muted">Brief description</small> -->
    </div>
    <img src="{{journal.image.url}}" class="img-fluid rounded"  style="width: 10%;"/>
    </li>
    </a>
    {% endfor %}
    
    </ul>
        <!-- sidebar -->
    
    
    
      <!-- sidebar Heading 2 -->
      <h4 class="d-flex justify-content-between align-items-center mt-5">
        <span class="text-muted">Recent Publications</span>
        <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        
        <!-- sidebar -->
        <ul class="list-group mb-3 z-depth-1 border">
          {% for script in recent_manuscript %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h6 class="my-0"><a href="{% url 'article' script.rand  %}" style="text-decoration: none; color:black;">{{script.title}}</a></h6>
        <!-- <small class="text-muted">Brief description</small> -->
        </div>
        <!-- <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid rounded"  style="width: 10%;"/> -->
        </li>
        {% endfor %}
        </ul>
                <!-- sidebar -->



</div> <!--  col lg 4 -->



<!-- </div> -->
</div><!--   row -->
</div><!--  container -->





{% endblock content %}

<!-- {% url 'open-file' path %} -->