{% extends 'base.html'%}


{% block content %}





<!--Main layout-->
<main class="mt-5">

<hr class="my-5" />
<!--Section: Content-->
<section class="text-center">
<div class="container"> 

    
<!-- <h4 class="d-flex justify-content-between align-items-center mb-3">Recent Articles</h4> -->

 <div class="row"> <!--main row for both side bar and research content -->
<div class="col-lg-8"> <!--main col for both side bar and research content -->


<div class="row"> <!-- row for research content only -->


<div class="col-lg-12 col-md-6 mb-4"> <!--col for individual research content -->
    <div class="card">
    <div class="container mt-3" >

    <!-- <h6 class="float-left">Research Article</h6> -->
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
            <h6 class="card-title" style=" text-align: justify;"><a href="{% url 'journal' published_manuscript.journal.id %}">{{published_manuscript.journal}}</a></h6>
            <h6 class="card-title" style=" text-align: justify;"><b>{{published_manuscript.title}}</b></h6>
            <p class="card-text" style="text-align: justify;">
            <span style="font-weight: 300;">{{author_details.title}} {{author_details.first_name}} {{author_details.last_name}}</span> <br>
            <span style="font-weight: 300;">{{author_details.organisation}}</span> <br>
            {% for coauthor in coauthors %}
            <span style="font-size:13px; font-family: Arial, sans-serif;">{{coauthor.firstname}} {{coauthor.lastname}}<sup>{{ forloop.counter }}</sup>{{ forloop.last|yesno:",&#44;"|safe }}</span>
            {% endfor %}<br/>
            {% for coauthor in coauthors %}
            <span style="font-size:13px; font-family: Arial, sans-serif;">{{ forloop.counter }}. {{coauthor.affiliation}}, {{coauthor.country}}</span><br>
            {% endfor %}
            <span >{{published_manuscript.journal}} </span>{{published.published_year}}, {{published.published_volume}}({{published.published_issue}}): {{published.published_page_start}}-{{published.published_page_end}}.<br>
            doi: <span >10.3934/{{published_manuscript.journal}}.{{published.published_year}}{{published.published_volume}}</span> 
            </p>
        
            </div>

            
            <!-- <div class="col-lg-6 pr-3">
                <a href="" class="btn btn-outline-info mr-2"><i class="fa fa-arrow-left"></i> Previous Article </a>
                <a href="" class="btn btn-outline-info"> Next Article <i class="fa fa-arrow-right"></i></a>
        
            </div> -->

            <!-- Pills navs -->
            <div class="container">
<ul class="nav nav-pills mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex1-tab-1"
      data-mdb-toggle="pill"
      href="#ex1-pills-1"
      role="tab"
      aria-controls="ex1-pills-1"
      aria-selected="true"
      >Abstract</a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex1-tab-2"
      data-mdb-toggle="pill"
      href="#ex1-pills-2"
      role="tab"
      aria-controls="ex1-pills-2"
      aria-selected="false"
      >Full Text (HTML)</a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex1-tab-3"
      data-mdb-toggle="pill"
      href="#ex1-pills-3"
      role="tab"
      aria-controls="ex1-pills-3"
      aria-selected="false"
      >Download (PDF)</a>
  </li>
</ul>
</div>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content" id="ex1-content">
  <div
    class="tab-pane fade show active"
    id="ex1-pills-1"
    role="tabpanel"
    aria-labelledby="ex1-tab-1" >
   <p style=" text-align: justify;">{{published.published_abstract}}</p> 
  </div>
  <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
    <p style=" text-align: justify;">{{published.published_full_text}}</p>
  </div>
  <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
    <p style=" text-align: justify;">{{published.published_pdf}}</p>
  </div>
</div>

<!-- Pills content -->
        
    </div>
    
    
    </div>
    </div>
</div>











</div>
</div><!-- end main col for research content -->



<div class="col-lg-4"><!-- sidebar col  -->

  <div class="card mt-3"> 
    <div class="card-body">
    <!-- <h5><b>Want to Submit?</b></h5> -->
    <a href="{{published.published_pdf.url}}" class="btn btn-info btn-block" download>Download PDF</a>
    <a href="#" class="btn btn-primary btn-block"> Login</a>
    <a href="#" class="btn btn-warning btn-block">Email Us</a>
    </div>
  </div>





</div>
</div> <!--end sidebar col  -->



</div>
</div>
</section>
<!--Section: Content-->

<hr class="my-5" />




<!-- <div class="col-lg-4">


</div>

</div> -->

</main>
<!--Main layout-->

{% endblock content %}


<!-- {% url 'open-file' path %} -->





