{% extends 'base.html'%}


{% block content %}


<style>

  .gradient-custom-3 {
    /* fallback for old browsers */
    background: rgb(226, 224, 224);
  
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)); */
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)) */
  }
  /* .gradient-custom-4 { */
    /* fallback for old browsers */
    /* background: #84fab0; */
  
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); */
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)) */
  /* } */
  </style>
  
  
  
  
  <section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
  <div class="card" style="border-radius: 15px;">
  <div class="card-body p-5">
  <h2 class="text-uppercase text-center mb-5">Register</h2>
  
  {% for message in messages%}
<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{message}}
</div>


{% endfor %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{form.errors}}
    </div>
    {% endif %}
  <form action="" method="POST">
  {% csrf_token %}
  <div class="form-outline mb-4">
  <!-- <input type="text" id="form3Example1cg" class="form-control form-control-lg" /> -->
  {{form.username}}
  <label class="form-label" for="form3Example1cg">Username</label>
  </div>

  <div class="form-outline mb-4">
    {{form.email}}
    <!-- <input type="email" id="form3Example1cg" class="form-control form-control-lg" /> -->
    <label class="form-label" for="form3Example1cg">Email</label>
    </div>
  
  
  <div class="form-outline mb-4">
  <!-- <input type="password" id="form3Example4cg" class="form-control form-control-lg" /> -->
  {{form.password1}}
  <label class="form-label" for="form3Example4cg">Password</label>
  </div>
  
  <div class="form-outline mb-4">
    <!-- <input type="password" id="form3Example4cg" class="form-control form-control-lg" /> -->
    {{form.password2}}
    <label class="form-label" for="form3Example4cg">Confirm Password</label>
    </div>


  
  <div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-white">Register</button>
  </div>
  
  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login'%}" class="fw-bold text-body"><u>Login here</u></a></p>
  
  </form>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>


<script>

  var form_fields = document.getElementsByTagName('input')

  // form_fields[1].placeholder = 'Username...';


for (var fields in form_fields){
  form_fields[fields].className += 'form-control form-control-lg'
}

</script>
  
  
{% endblock content %}






























<!-- <style>

  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: rgb(226, 224, 224);
  
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1)); */
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1)) */
  }
  
  .bg-indigo {
    background-color: #4835d4;
  }
  @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  
  
  
  </style>
  
  
  
  
  
  <form action="" method="POST">
  {% csrf_token %}
  <section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12">
  <div class="card card-registration card-registration-2" style="border-radius: 15px;">
  <div class="card-body p-0">
  <div class="row g-0">
  <div class="col-lg-6">
  <div class="p-5">
  <h3 class="fw-normal mb-5 text-dark">General Infomation</h3>
  
  <div class="mb-4 pb-2">
  <select class="select form-control">
  <option value="1">Title</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  </select>
  </div>
  
  <div class="row">
  <div class="col-md-6 mb-4 pb-2">
  
  <div class="form-outline">
  <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
  <label class="form-label" for="form3Examplev2">First name</label>
  </div>
  
  </div>
  <div class="col-md-6 mb-4 pb-2">
  
  <div class="form-outline">
  <input type="text" id="form3Examplev3" class="form-control form-control-lg" />
  <label class="form-label" for="form3Examplev3">Last name</label>
  </div>
  
  </div>
  </div>
  
  <div class="mb-4 pb-2">
  <select class="select form-control">
  <option value="1">Position</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  </select>
  </div>
  
  <div class="mb-4 pb-2">
  <div class="form-outline">
  <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
  <label class="form-label" for="form3Examplev4">Position</label>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
  
  <div class="form-outline">
  <input type="text" id="form3Examplev5" class="form-control form-control-lg" />
  <label class="form-label" for="form3Examplev5">Bussines Arena</label>
  </div>
  
  </div>
  <div class="col-md-6">
  
  <select class="select form-control">
  <option value="1">Employees</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  </select>
  
  
  </div>
  </div>
  
  </div>
  </div>
  
  
  
  
  
  <div class="col-lg-6 bg-light text-dark">
  <div class="p-5">
  <h3 class="fw-normal mb-5">Contact Details</h3>
  
  <div class="mb-4 pb-2">
      <select class="select form-control">
      <option value="1">Title</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      </select>
      </div>
  
  <div class="mb-4 pb-2">
  <div class="form-outline text-dark">
  <input type="text" id="form3Examplea3" class="form-control form-control-lg" />
  <label class="form-label" for="form3Examplea3">Additional Information</label>
  </div>
  </div>
  
  <div class="row">
      <div class="col-md-6 mb-4 pb-2">
      
      <div class="form-outline">
      <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplev2">First name</label>
      </div>
      
      </div>
      <div class="col-md-6 mb-4 pb-2">
      
      <div class="form-outline">
      <input type="text" id="form3Examplev3" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplev3">Last name</label>
      </div>
      
      </div>
      </div>
      
  
  
  
  
  <div class="form-check d-flex justify-content-start mb-4 pb-3">
  <input
  class="form-check-input me-3"
  type="checkbox"
  value=""
  id="form2Example3c"
  />
  <label class="form-check-label text-dark" for="form2Example3">
  I do accept the <a href="#!" class="text-dark"><u>Terms and Conditions</u></a> of your site.
  </label>
  </div>
  
  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-white">Register</button>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
    </section>
  </form> -->