{% extends 'base.html' %}

{% block content %}
<!-- adding section tag to this code sent the footer down to its normal position -->
<section class="vh-100 bg-image">
<div class="container mt-5">
  <div class="row">
  <div class="col-lg-6 offset-2">
  <div class="alert alert-success" role="alert">
  
    We have emailed you instructions for resetting your password, if an account exists with the email entered,
    you should recieve an email shortly.  
    If you don't recieve an email, please make sure you've entered the email address you registered with correctly,
    and check your spam folder.
    <p class="mb-5"><a href="{% url 'login' %}">Return to login</a></p>
  </div>
</div>
</div>
</div>
</section>
{% endblock content %}










