{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}






{% block content %}


{% for message in messages%}
<div class="alert alert-info col-lg-8" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
{{message}}
</div>

{% endfor %}



<form action="" method="POST">
    {% csrf_token %}


    <div class="col-lg-4">
      
    {{form|crispy}}


    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary text-white">Submit</button>
    </div>
    </div>

</form>



{% endblock content%}