<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <!-- bootstrap cdn -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/> -->
    <!-- bootstrap cdn -->


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>Profile</title>
</head>

<style>

.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}


</style>





<body>
 
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Welcome {{request.user}}</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
        </ul> -->
        </li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)" style="cursor: none;">My Profile</a></li>
        <li><a href="javascript:void(0)" style="cursor: none;">Submit</a></li>
        <li><a href="{% url 'logout'%}">Logout</a></li>
        <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        </ul>
        </li> -->
        </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>


    


        
        <div class="row">
        <div class="col-lg-2 col-md-3 sidebar">
        <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </div>
        <div class="list-group">
        Toggle Menu
        <span class="pull-right " id="slide-submenu">
        <i class="fa fa-times"></i>
        </span>
        </span>
        <span class="list-group-item" style="background-color: rgb(88, 203, 231);">
        <!-- <i class="fa fa-user"></i>  -->
        User
        </span>
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item">
        <i class="fa fa-user"></i> Profile
        </a>
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item">
        <i class="fa fa-lock"></i> Change Password
        </a>
        
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item" aria-disabled="true">
        <i class="fa fa-pencil"></i> Edit Profile
        </a>
        <span class="list-group-item" style="background-color: rgb(88, 203, 231);">
        <!-- <i class="fa fa-user"></i> -->
        Submissions
        </span>
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item">
        <i class="fa fa-folder-open-o"></i> Submit Manuscript <span class="badge">14</span>
        </a>
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item">
        <i class="fa fa-folder-open-o"></i> Display Manuscript <span class="badge">14</span>
        </a>
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item">
        <i class="fa fa-dollar"></i> Invoices
        </a>
        <a href="javascript:void(0)" style="cursor: none;" class="list-group-item">
            <i class="fa fa-envelope"></i> Help
            </a>
        </div> 
      </div>      
        
        
        {% block content %}


        {% endblock content %}
        
        </div>
        </div>  

   

<script>
$(function(){

$('#slide-submenu').on('click',function() {			        
$(this).closest('.list-group').fadeOut('slide',function(){
$('.mini-submenu').fadeIn();	
});

});

$('.mini-submenu').on('click',function(){		
$(this).next('.list-group').toggle('slide');
$('.mini-submenu').hide();
})
})
</script>


<!--bootstrap cdn -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<!--bootstrap cdn -->


</body>
</html>


