{% extends 'editor/base.html' %}

{% block content %}

<div class="row">
<div class="col-lg-8">
  <h4>Rejected Journals</h4>

    <!-- <div class="container" >
    <div class="example-basic"> -->
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
      {{message}}
    </div>
    {% endfor %}

<div class="table-responsive">
<table id="display_script" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Title</th>
        <th class="th-sm">Journal</th>
        <th class="th-sm">Date Submitted</th>
        <th class="th-sm">Status</th>
        <th class="th-sm">Author</th>
        <th class="th-sm">View</th>
        <th class="th-sm">Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- {{manuscriptform.count}} -->
      {% for reject in rejected %}
      
      <tr>
      <td>{{reject.title}}</td>
      <td>{{reject.journal}}</td>
      <td>{{reject.date_added}}</td>
      <td>{{reject.status}}</td>
      <td>{{reject.author}}</td>
      <td>
        <a href="{% url 'full_details' reject.rand %}"><i style="color:rgba(238, 34, 34, 0.884);" class="fa fa-eye fa-lg"></i></a>
      </td>

      <td>
        <form action="{% url 'delete_script' reject.rand %}" method="POST">{% csrf_token %}
        <button type="submit" style="border: none;" onclick="return confirm('Are you sure you want to delete this manuscript?')"><i style="color:rgba(238, 34, 34, 0.884);" class="fa fa-trash fa-lg"></i></button>
        </form>
      </td>
      </tr>

      {% endfor %}

      <!-- {% for list in coauthorList %}
      <tr>
      <td>{{list.email}}</td>
      </tr>
      {% endfor %}

      {% for list in uploadList %}
      <tr>
      <td>{{list.manuscriptword}}</td>
      </tr>
      {% endfor %} -->
</table>
</div>
</div>
</div>


{% endblock content %}